{% extends "AmburgerBundle:Visualization:base.html.twig" %}

{% block body %}
     <div class="row heading">
        <div class="large-12 columns large-centered center">
            <h2>Name der Person</h2>
            
        </div>
    </div>
    
    <div class="row family-tree">
        <div class="large-12 columns large-centered center">
            <h2>Stammbaum</h2>
            
        </div>
    </div>
    
    
    <div class="row map">
        <div class="large-12 columns large-centered center">
            <h2>Karte</h2>
            <div id="map-display"></div>
        </div>
    </div>
    
    <div class="row details">
        <div class="large-12 columns large-centered center">
            <h2>Vollständige Personendaten</h2>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Start #}
    <script src="{{asset('bundles/amburger/js/src/visualization/detail/Detail.js')}}"></script>

    {# Models #}
    

    {# Views #}
    <script src="{{asset('bundles/amburger/js/src/visualization/detail/MapView.js')}}"></script>
    {# Manager #}


    {# Controllers #}
    <script src="{{ asset('bundles/amburger/js/src/visualization/detail/AjaxLoader.js') }}"></script>
    <script src="{{asset('bundles/amburger/js/src/visualization/detail/DetailController.js')}}"></script>



    {# As last init the Start #}
    <script>
        $(document).ready(function () {
            Detail.init('{{ google_api_key }}');
        });
    </script>
    

    
{% endblock %}