{% extends "AmburgerBundle:Visualization:base.html.twig" %}

{% block body %}
    <div class="search">
        <div class="row">
            <div class="large-12 columns large-centered center">
                <h2>Suche</h2>
            </div>
        </div>
        <div class="row simple-search">
            <div class="large-10 columns">
                <label>Freie Suche (Boolesche Logik und Klammerung wird unterst체tzt)</label><input name="searchQuery"/>
            </div>
            <div class="large-2 columns">
                <label>
                    Auf Hauptpersonen einschr채nken
                    <input type="checkbox" name="only-main-persons"/>
                </label>
            </div>
        </div>
        <div class="row extended-search">
            <div class="large-12 columns">
                <label>
                    Nachname
                    <input name="lastname"/>
                </label>
                <label>
                    Vorname
                    <input name="firstname"/>
                </label>
                <label>
                    Russischer Vorname
                    <input name="patronym"/>
                </label>
                <label>
                    Ort
                    <input name="location"/>
                </label>
                <label>
                    Region
                    <input name="territory"/>
                </label>
                <label>
                    Land
                    <input name="country"/>
                </label>

                <!--TODO: Enforce date with specific format -->
                <label>
                    Bestimmtes Jahr
                    <input name="date"/>
                </label>
                <label>
                    Bestimmter Zeitraum
                    <input name="from-date" placeholder="von"/><input name="to-date" placeholder="bis"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns centered">
                <button id="search-btn">Suchen</button>
            </div>
        </div>

    </div>

    <div class="row map">
        <div class="large-12 columns large-centered center">
            <h2>Karte</h2>

        </div>
    </div>

    <div class="row list">
        <div class="large-12 columns large-centered center">
            <h2>Personen</h2>
            <div class="table-header">
                <div class="pagination-container"></div>
                <select class="page-size">
                    <option value="5">5</item>
                    <option value="10">10</item>
                    <option value="25">25</item>
                    <option value="50">50</item>
                    <option value="100">100</item>
                </select>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>
                            Vorname
                        </td>
                        <td>
                            Russischer Vorname
                        </td>
                        <td>
                            Nachname
                        </td>
                        <td>
                            Geburtsdatum/ Taufdatum
                        </td>
                        <td>
                            Sterbedatum/ Beerdigungsdatum
                        </td>
                        <td>
                            Hauptperson
                        </td>
                        <td>
                            Vollst채ndige Personendaten einsehen
                        </td>
                    </tr>
                </thead>
                <tbody id="personDataList">
                </tbody>
            </table>
            <div class="table-footer">
                <div class="pagination-container"></div>
                <select class="page-size">
                    <option value="5">5</item>
                    <option value="10">10</item>
                    <option value="25">25</item>
                    <option value="50">50</item>
                    <option value="100">100</item>
                </select>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {# Start #}
    <script src="{{asset('bundles/amburger/js/src/visualization/index/Index.js')}}"></script>

    {# Models #}
    <script src="{{asset('bundles/amburger/js/src/visualization/index/PersonListModel.js')}}"></script>

    {# Views #}
    <script src="{{asset('bundles/amburger/js/src/visualization/index/MapView.js')}}"></script>
    <script src="{{asset('bundles/amburger/js/src/visualization/index/PersonListView.js')}}"></script>
    <script src="{{asset('bundles/amburger/js/src/visualization/index/SearchView.js')}}"></script>
    {# Manager #}


    {# Controllers #}
    <script src="{{ asset('bundles/amburger/js/src/visualization/index/AjaxLoader.js') }}"></script>
    <script src="{{asset('bundles/amburger/js/src/visualization/index/IndexController.js')}}"></script>



    {# As last init the Start #}
    <script>
        $(document).ready(function () {
            Index.init();
        });
    </script>

{% endblock %}

{% block templates %}
    {% verbatim %}

    <script type="text/template" id="personDataTemplate">
        <tr>
            <td>
                <%= first_name %>
            </td>
            <td>
                <%= patronym %>
            </td>
            <td>
                <%= last_name %>
            </td>
            <td>
                <% if(birth_date) { %>
                    Geburtssymbol + <%= birth_date %>
                 <% } else if(baptism_date) { %>
                    Taufsymbol + <%= baptism_date %>
                 <% } %>
            </td>
            <td>
                <% if(death_date) { %>
                    Todessymbol + <%= death_date %>
                 <% } else if(funeral_date) { %>
                    Begr채bnissymbol + <%= funeral_date %>
                 <% } %>
            </td>
            <td class="center">
                 <% if(type == 'person') { %>
                     <i class="fa fa-check fa-green" aria-hidden="true"></i>
                 <% } else { %>
                    <i class="fa fa-times fa-red" aria-hidden="true"></i>
                 <% } %>
            </td>
            <td>
                <a href="/visualization/<%= id %>" target="_blank"><button class='secondary small'>Details</button></a>
            </td>
        </tr>
    </script>
    
    <script type="text/template" id="paginationTemplate">
            <ul class="pagination">
              <li class="arrow <%= 1 == currentPage ? 'unavailable' : '' %> previous"><a>&laquo;</a></li>
               <% if(pageCount <= 8){ 
                   for(var i = 1; i <= pageCount; i++){ %>
                       <li class="page-marker <%= i == currentPage ? 'current' : '' %>" page="<%= i %>"><a><%= i %></a></li>
                <%   }
                } else if(currentPage <= 3 || currentPage >= pageCount-2) { %>
                    <li class="page-marker <%= 1 == currentPage ? 'current' : '' %>" page="1"><a>1</a></li>
                    <li class="page-marker <%= 2 == currentPage ? 'current' : '' %>" page="2"><a>2</a></li>
                    <li class="page-marker <%= 3 == currentPage ? 'current' : '' %>" page="3"><a>3</a></li>
                    <li class="unavailable"><a href="">&hellip;</a></li>
                <%    for(var i = pageCount-2; i <= pageCount; i++){ %>
                       <li class="page-marker <%= i == currentPage ? 'current' : '' %>" page="<%= i %>"><a><%= i %></a></li>
                <%   } 
                  } else { %>
                        <li class="page-marker" page="1"><a>1</a></li>
                        <li class="page-marker" page="2"><a>2</a></li>
                        <li class="page-marker" page="3"><a>3</a></li>       
                        <li class="unavailable"><a href="">&hellip;</a></li>
                        <%    for(var i = currentPage-1; i <= (currentPage+1); i++){ %>
                               <li class="page-marker <%= i == currentPage ? 'current' : '' %>" page="<%= i %>"><a><%= i %></a></li>
                        <%   } %>
                        <li class="unavailable"><a href="">&hellip;</a></li>
                         <%    for(var i = pageCount-2; i <= pageCount; i++){ %>
                               <li class="page-marker" page="<%= i %>"><a><%= i %></a></li>
                        <%   } %>
                <%  } %>
              <li class="arrow <%= pageCount == currentPage ? 'unavailable' : '' %> next"><a>&raquo;</a></li>
            </ul>
     </script>
    {% endverbatim %}
{% endblock %}