{% extends "AmburgerBundle:DataCorrection:base.html.twig" %}
{% block body %}
     <div class="row">
        <div class="large-2 columns" id="old">
            <p>Alter Datensatz</p>
                <div class="base-person-container collapsible">
                    <h3 class="header">
                        Personendaten
                    </h3>
                </div>
                <div class="birth-container collapsible collapsed">
                    <h3 class="header">
                        Geburtsdaten
                    </h3>
                </div>
                <div class="baptism-container collapsible collapsed">
                    <h3 class="header">
                        Taufdaten
                    </h3>
                </div>
                <div class="death-container collapsible collapsed">
                    <h3 class="header">
                        Todesdaten
                    </h3>
                </div>
                <div class="educations-container collapsible collapsed">
                    <h3 class="header">
                        Ausbildungsdaten
                    </h3>
                </div>
                <div class="honours-container collapsible collapsed">
                    <h3 class="header">
                        Ehren
                    </h3>
                </div>
                <div class="property-container collapsible collapsed">
                    <h3 class="header">
                        Besitz
                    </h3>
                </div>
                <div class="rank-container collapsible collapsed">
                    <h3 class="header">
                        Rang
                    </h3>
                </div>
                <div class="religion-container collapsible collapsed">
                    <h3 class="header">
                        Religion
                    </h3>
                </div>
                <div class="residence-container collapsible collapsed">
                    <h3 class="header">
                        Wohnraum
                    </h3>
                </div>                
                <div class="road-of-life-container collapsible collapsed">
                    <h3 class="header">
                        Lebensweg
                    </h3>
                </div>                
                <div class="status-container collapsible collapsed">
                    <h3 class="header">
                        Status
                    </h3>
                </div>        
                <div class="works-container collapsible collapsed">
                    <h3 class="header">
                        Werke
                    </h3>
                </div>
                <div class="source-container collapsible collapsed">
                    <h3 class="header">
                        Quellen
                    </h3>
                </div>
        </div>
        <div class="large-2 columns" id="new">
            <p>Normalisierter Datensatz</p>
                <div class="base-person-container collapsible">
                    <h3 class="header">
                        Personendaten
                    </h3>
                </div>
                <div class="birth-container collapsible collapsed">
                    <h3 class="header">
                        Geburtsdaten
                    </h3>
                </div>
                <div class="baptism-container collapsible collapsed">
                    <h3 class="header">
                        Taufdaten
                    </h3>
                </div>
                <div class="death-container collapsible collapsed">
                    <h3 class="header">
                        Todesdaten
                    </h3>
                </div>
                <div class="educations-container collapsible collapsed">
                    <h3 class="header">
                        Ausbildungsdaten
                    </h3>
                </div>
                <div class="honours-container collapsible collapsed">
                    <h3 class="header">
                        Ehren
                    </h3>
                </div>
                <div class="property-container collapsible collapsed">
                    <h3 class="header">
                        Besitz
                    </h3>
                </div>
                <div class="rank-container collapsible collapsed">
                    <h3 class="header">
                        Rang
                    </h3>
                </div>
                <div class="religion-container collapsible collapsed">
                    <h3 class="header">
                        Religion
                    </h3>
                </div>
                <div class="residence-container collapsible collapsed">
                    <h3 class="header">
                        Wohnraum
                    </h3>
                </div>                
                <div class="road-of-life-container collapsible collapsed">
                    <h3 class="header">
                        Lebensweg
                    </h3>
                </div>                
                <div class="status-container collapsible collapsed">
                    <h3 class="header">
                        Status
                    </h3>
                </div>        
                <div class="works-container collapsible collapsed">
                    <h3 class="header">
                        Werke
                    </h3>
                </div>
                <div class="source-container collapsible collapsed">
                    <h3 class="header">
                        Quellen
                    </h3>
                </div>
        </div>
        <div class="large-2 columns" id="final">
            <p>Neuer Datenbank-Eintrag</p>
                <div class="base-person-container collapsible">
                    <h3 class="header">
                        Personendaten
                    </h3>
                </div>
                <div class="birth-container collapsible collapsed">
                    <h3 class="header">
                        Geburtsdaten
                    </h3>
                </div>
                <div class="baptism-container collapsible collapsed">
                    <h3 class="header">
                        Taufdaten
                    </h3>
                </div>
                <div class="death-container collapsible collapsed">
                    <h3 class="header">
                        Todesdaten
                    </h3>
                </div>
                <div class="educations-container collapsible collapsed">
                    <h3 class="header">
                        Ausbildungsdaten
                    </h3>
                </div>
                <div class="honours-container collapsible collapsed">
                    <h3 class="header">
                        Ehren
                    </h3>
                </div>
                <div class="property-container collapsible collapsed">
                    <h3 class="header">
                        Besitz
                    </h3>
                </div>
                <div class="rank-container collapsible collapsed">
                    <h3 class="header">
                        Rang
                    </h3>
                </div>
                <div class="religion-container collapsible collapsed">
                    <h3 class="header">
                        Religion
                    </h3>
                </div>
                <div class="residence-container collapsible collapsed">
                    <h3 class="header">
                        Wohnraum
                    </h3>
                </div>                
                <div class="road-of-life-container collapsible collapsed">
                    <h3 class="header">
                        Lebensweg
                    </h3>
                </div>                
                <div class="status-container collapsible collapsed">
                    <h3 class="header">
                        Status
                    </h3>
                </div>        
                <div class="works-container collapsible collapsed">
                    <h3 class="header">
                        Werke
                    </h3>
                </div>
                <div class="source-container collapsible collapsed">
                    <h3 class="header">
                        Quellen
                    </h3>
                </div>
        </div>
      </div>
    
    <div class="row">
        <button id="save-button" class="round button" type="submit">Speichern und weiter</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Start #}
    <script src="{{asset('bundles/amburger/js/src/datacorrection/person/PersonCorrection.js')}}"></script>

    {# Models #}

     {# Views #}
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/BasePersonViewGenerator.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/PersonCorrectionView.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/FinalPersonView.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/NewPersonView.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/OldPersonView.js') }}"></script>
     
     


     {# Manager #}


     {# Controllers #}
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/AjaxLoader.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/PersonCorrectionController.js') }}"></script>



     {# As last init the Start #}
     <script>
        $(document).ready(function(){
          PersonCorrection.init();
        });
     </script>

{% endblock %}


{% block templates %}
    {% verbatim %}
    <script type="text/template" id="basePerson">
        <div class="row">
                <input type="hidden" name="id"> 
                <label>OID<input type="text" name="oid" value="<%=oid %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Vorname<input type="text" name="firstName" value="<%= typeof(first_name) !== 'undefined' ?  first_name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Vatersname<input type="text" name="patronym" value="<%= typeof(patronym) !== 'undefined' ?  patronym : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Nachname<input type="text" name="lastName" value="<%= typeof(last_name) !== 'undefined' ?  last_name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Rufname<input type="text" name="foreName"  value="<%= typeof(fore_name) !== 'undefined' ?  fore_name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Geburtsname<input type="text" name="birthName" value="<%= typeof(birth_name) !== 'undefined' ?  birth_name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Geschlecht
                    <select name="gender" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>>
                        <option value="0" <%= gender == '0' ?  'selected' : '' %>>Unbekannt</option>
                        <option value="1" <%= gender == '1' ?  'selected' : '' %>>Männlich</option> 
                        <option value="2" <%= gender == '2' ?  'selected' : '' %>>Weiblich</option>
                    </select>
                </label>
                <label>Geschlechtskommentar
                    <input type="text" name="genderComment" value="<%= typeof(gender_comment) !== 'undefined' ?  gender_comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
                </label>
                <label>ehelig<input type="text" name="bornInMarriage" value="<%= typeof(born_in_marriage) !== 'undefined' ?  born_in_marriage : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <!-- //@TODO: Complex objects for job, jobclass, nation, territory, location, country? -->
                <label>Job
                    <% 
                        if(typeof(job) !== 'undefined') { 
                            var jobTemplate = _.template($("script#job").html());
                            
                            var array = [];
                            
                            array['label'] = job['label'];
                            array['comment'] = job['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= jobTemplate(array) %>
                        
                    <%  } %>
                </label>
                <label>Jobklasse
                    <% 
                        if(typeof(job_class) !== 'undefined') { 
                            var jobClassTemplate = _.template($("script#jobClass").html());
                            
                            var array = [];
                            
                            array['label'] = job_class['label'];
                            array['comment'] = job_class['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= jobClassTemplate(array) %>
                        
                    <%  } %>
                </label>
                <label>Nation
                    <% 
                        if(typeof(nation) !== 'undefined') { 
                            var nationTemplate = _.template($("script#nation").html());
                            
                            var array = [];
                            
                            array['name'] = nation['name'];
                            array['comment'] = nation['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= nationTemplate(array) %>
                        
                    <%  } %>
                </label>
                <label>Kommentar<input type="text" name="comment" value="<%= typeof(comment) !== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>

        </div>

    </script>
    
    <script type="text/template" id="baptism">
        <div class="row">
               <input type="hidden" name="id"> 
                <label>Taufort
                    <% 
                        if(typeof(baptism_location) !== 'undefined') { 
                            var locationTemplate = _.template($("script#location").html());
                            
                            var array = [];
                            
                            array['name'] = baptism_location['name'];
                            array['comment'] = baptism_location['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= locationTemplate(array) %>
                        
                    <%  } %>
                </label>
                <label>Taufdatum
                <% 
                        if(typeof(baptism_date) !== 'undefined') { 
                            console.log("baptism_date found");
                            var dateReferenceTemplate = _.template($("script#dateReference").html());
                            console.log("Template: ", dateReferenceTemplate);
                            
                            var array = [];
                            
                            array['dateReference'] = baptism_date;
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= dateReferenceTemplate(array) %>
                        
                    <%  } %>
            </label>
        </div>
    </script>
    
    <script type="text/template" id="birth">
        <div class="row">
               <input type="hidden" name="id"> 
                <label>Herkunftsland
                    <% if(typeof(origin_country) !== 'undefined') { 
                            var countryTemplate = _.template($("script#country").html());
                            
                            var array = [];
                            
                            array['name'] = origin_country['name'];
                            array['comment'] = origin_country['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= countryTemplate(array) %>
                        
                    <%  } %>
                </label>
                <label>Herkunftsterritory
                    <% if(typeof(origin_territory) !== 'undefined') { 
                            var territoryTemplate = _.template($("script#territory").html());
                            
                            var array = [];
                            
                            array['name'] = origin_territory['name'];
                            array['comment'] = origin_territory['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= territoryTemplate(array) %>
                        
                    <%  } %>
                </label>
                <label>Herkunftsort
                    <% 
                        if(typeof(origin_location) !== 'undefined') { 
                            var locationTemplate = _.template($("script#location").html());
                            
                            var array = [];
                            
                            array['name'] = origin_location['name'];
                            array['comment'] = origin_location['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= locationTemplate(array) %>
                        
                    <%  } %>
                </label>
        
                <label>Geburtsland
                    <% 
                        if(typeof(birth_country) !== 'undefined') { 
                            var countryTemplate = _.template($("script#country").html());
                            
                            var array = [];
                            
                            array['name'] = birth_country['name'];
                            array['comment'] = birth_country['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= countryTemplate(array) %>
                        
                    <%  } %>
                </label>
        
                <label>Geburtsterritorium
                    <% if(typeof(birth_territory) !== 'undefined') { 
                            var territoryTemplate = _.template($("script#territory").html());
                            
                            var array = [];
                            
                            array['name'] = birth_territory['name'];
                            array['comment'] = birth_territory['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= territoryTemplate(array) %>
                        
                    <%  } %>
                </label>
            
                <label>Geburtsort
                    <% if(typeof(birth_location) !== 'undefined') { 
                            var locationTemplate = _.template($("script#location").html());
                            
                            var array = [];
                            
                            array['name'] = birth_location['name'];
                            array['comment'] = birth_location['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= locationTemplate(array) %>
                        
                    <%  } %>
                </label>
                <label>Geburtsdatum
                    <% 
                        if(typeof(birth_date) !== 'undefined') { 
                            console.log("birth_date found");
                            var dateReferenceTemplate = _.template($("script#dateReference").html());
                            console.log("Template: ", dateReferenceTemplate);
                            
                            var array = [];
                            
                            array['dateReference'] = birth_date;
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= dateReferenceTemplate(array) %>
                        
                    <%  } %>
                </label>

                <label>Kommentar<input type="text" name="comment" value="<%= typeof(comment) !== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        </div>
    </script>
    

    
    <script type="text/template" id="death">
        <div class="row">
                <input type="hidden" name="id"> 
                <label>Todesland<% 
                        if(typeof(death_country) !== 'undefined') { 
                            var countryTemplate = _.template($("script#country").html());
                            
                            var array = [];
                            
                            array['name'] = death_country['name'];
                            array['comment'] = death_country['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= countryTemplate(array) %>
                        
                    <%  } %>
                </label>
                <label>Todesterritorium
                    <% if(typeof(death_territory) !== 'undefined') { 
                            var territoryTemplate = _.template($("script#territory").html());
                            
                            var array = [];
                            
                            array['name'] = death_territory['name'];
                            array['comment'] = death_territory['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= territoryTemplate(array) %>
                        
                    <%  } %>
                </label>
                <label>Todesort
                    <% if(typeof(death_location) !== 'undefined') { 
                            var locationTemplate = _.template($("script#location").html());
                            
                            var array = [];
                            
                            array['name'] = death_location['name'];
                            array['comment'] = death_location['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= locationTemplate(array) %>
                        
                    <%  } %>
                </label>
                <label>Todesgrund<input type="text" name="causeOfDeath" value="<%= typeof(cause_of_death) !== 'undefined' ?  cause_of_death : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Todesdatum
                    <% 
                            if(typeof(death_date) !== 'undefined') { 
                                console.log("death_date found");
                                var dateReferenceTemplate = _.template($("script#dateReference").html());
                                console.log("Template: ", dateReferenceTemplate);

                                var array = [];

                                array['dateReference'] = death_date;

                                if(typeof(enabled) !== 'undefined') {
                                    array['enabled'] = true;
                                }
                            %>

                            <%= dateReferenceTemplate(array) %>

                    <%  } %>
                </label>
        
                <label>Friedhof<input type="text" name="graveyard" value="<%= typeof(graveyard) !== 'undefined' ?  graveyard : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Begräbnisort
                    <% if(typeof(funeral_location) !== 'undefined') { 
                            var locationTemplate = _.template($("script#location").html());
                            
                            var array = [];
                            
                            array['name'] = funeral_location['name'];
                            array['comment'] = funeral_location['comment'];
                            
                            if(typeof(enabled) !== 'undefined') {
                                array['enabled'] = true;
                            }
                        %>
                        
                        <%= locationTemplate(array) %>
                        
                    <%  } %>
                </label>
                <label>Begräbnisdatum
                        <% 
                            if(typeof(funeral_date) !== 'undefined') { 
                                console.log("funeral_date found");
                                var dateReferenceTemplate = _.template($("script#dateReference").html());
                                console.log("Template: ", dateReferenceTemplate);

                                var array = [];

                                array['dateReference'] = funeral_date;

                                if(typeof(enabled) !== 'undefined') {
                                    array['enabled'] = true;
                                }
                            %>

                            <%= dateReferenceTemplate(array) %>

                    <%  } %>
                </label>
        
                <label>Kommentar<input type="text" name="comment" value="<%= typeof(comment) !== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        </div>
    </script>

    
     <script type="text/template" id="education">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="educationOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Abschluss<input type="text" name="graduationLabel" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Abschlussdatum<input type="text" name="graduationDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Abschlussort<input type="text" name="graduationLocation" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        </div>
    </script>
    
    <script type="text/template" id="honour">
        <div class="row">
               <input type="hidden" name="id"> 
                <input type="hidden" name="honourOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        </div>
    </script>
    
    <script type="text/template" id="property">
        <div class="row">
               <input type="hidden" name="id"> 
                <input type="hidden" name="propertyOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="rank">
        <div class="row">
               <input type="hidden" name="id"> 
                <input type="hidden" name="rankOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Klasse<input type="text" name="class" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="religion">
        <div class="row">
               <input type="hidden" name="id"> 
                <input type="hidden" name="religionOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Religionswechsel<input type="text" name="changeOfReligion" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="residence">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="residenceOrder">
                <label>Wohnland<input type="text" name="residenceCountry" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Wohnterritorium<input type="text" name="residenceTerritory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Wohnort<input type="text" name="residenceLocation" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="roadOfLife">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="roadOfLifeOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Herkunftsland<input type="text" name="originCountry" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Herkunftsterritorium<input type="text" name="originTerritory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Job<input type="text" name="job" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="source">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="sourceOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Fundort<input type="text" name="placeOfDiscovery" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Bemerkung<input type="text" name="remark" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>    
        
    <script type="text/template" id="status">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="statusOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>p
        </div>
    </script>
    
        
    <script type="text/template" id="works">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="worksOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="dateReference">
        <% 
            console.log("datereference template called.", dateReference);
            console.log("Enabled?", typeof(enabled) !== 'undefined' ? enabled : 'undefined');
            _.forEach(dateReference, function (date,i) { 
                console.log("date found", date);
                        if(typeof(date['from']) !== 'undefined') {
                            var dateTemplate = _.template($("script#date").html()); 
                            
                            if(typeof(enabled) !== 'undefined') { 
                                date['from']['enabled'] = true; 
                                date['to']['enabled'] = true; 
                            }
                    %>
                            <div class="input-group date-range-container">
                                <%= dateTemplate(date['from']) %>
                                    bis
                                <%= dateTemplate(date['to']) %>
                            </div>
                        <% } else { 
                        
                            var dateTemplate = _.template($("script#date").html());
                            
                            if(typeof(enabled) !== 'undefined') { 
                                date['enabled'] = true; 
                            }
                            %>
                            
                            <%= dateTemplate(date) %>
                        <% } 
            }) %>
        </script>
    
    <script type="text/template" id="date">
        <div class="input-group date-container">
            <input type="hidden" name="dateId"> 
            <input type="checkbox" name="beforeDate" <%= before_date ?  'checked' : '' %> <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
            <input type="checkbox" name="afterDate" <%= after_date ?  'checked' : '' %> <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
            <input type="text" name="day" value="<%= typeof(day)!== 'undefined' ?  day : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
            <input type="text" name="month" value="<%= typeof(month)!== 'undefined' ?  month : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
            <input type="text" name="year" value="<%= typeof(year)!== 'undefined' ?  year : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
            <input type="text" name="comment" value="<%= typeof(comment)!== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
        </div>
    </script>
    
    <script type="text/template" id="nation">
        <div class="input-group nation-container">
            <input type="hidden" name="nationId"> 
            <input type="text" name="name" value="<%= typeof(name)!== 'undefined' ?  name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
            <input type="text" name="comment" value="<%= typeof(comment)!== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
        </div>
    </script>
    
    <script type="text/template" id="location">
        <div class="input-group location-container">
            <input type="hidden" name="locationId"> 
            <input type="text" name="name" value="<%= typeof(name)!== 'undefined' ?  name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
            <input type="text" name="comment" value="<%= typeof(comment)!== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
        </div>
    </script>
    
    <script type="text/template" id="territory">
        <div class="input-group territory-container">
            <input type="hidden" name="territoryId"> 
            <input type="text" name="name" value="<%= typeof(name)!== 'undefined' ?  name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
            <input type="text" name="comment" value="<%= typeof(comment)!== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
        </div>
    </script>
    
    <script type="text/template" id="country">
        <div class="input-group country-container">
            <input type="hidden" name="countryId"> 
            <input type="text" name="name" value="<%= typeof(name)!== 'undefined' ?  name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
            <input type="text" name="comment" value="<%= typeof(comment)!== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
        </div>
    </script>
        
    <script type="text/template" id="job">
        <div class="input-group job-container">
            <input type="hidden" name="jobId"> 
            <input type="text" name="label" value="<%= typeof(label)!== 'undefined' ?  label : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
            <input type="text" name="comment" value="<%= typeof(comment)!== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
        </div>
    </script>
        
    <script type="text/template" id="jobClass">
        <div class="input-group jobclass-container">
            <input type="hidden" name="jobClassId"> 
            <input type="text" name="label" value="<%= typeof(label)!== 'undefined' ?  label : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
            <input type="text" name="comment" value="<%= typeof(comment)!== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
        </div>
    </script>
    {% endverbatim %}
{% endblock %}