{% extends "AmburgerBundle:DataCorrection:base.html.twig" %}
{% block body %}
     <div class="row">
        <div class="large-2 columns" id="old">
            <p>Alter Datensatz</p>
                <div class="base-person-container collapsible">
                    <h3 class="header">
                        Personendaten
                    </h3>
                </div>
                <div class="birth-container collapsible collapsed">
                    <h3 class="header">
                        Geburtsdaten
                    </h3>
                </div>
                <div class="baptism-container collapsible collapsed">
                    <h3 class="header">
                        Taufdaten
                    </h3>
                </div>
                <div class="death-container collapsible collapsed">
                    <h3 class="header">
                        Todesdaten
                    </h3>
                </div>
                <div class="educations-container collapsible collapsed">
                    <h3 class="header">
                        Ausbildungsdaten
                    </h3>
                </div>
                <div class="honours-container collapsible collapsed">
                    <h3 class="header">
                        Ehren
                    </h3>
                </div>
                <div class="property-container collapsible collapsed">
                    <h3 class="header">
                        Besitz
                    </h3>
                </div>
                <div class="rank-container collapsible collapsed">
                    <h3 class="header">
                        Rang
                    </h3>
                </div>
                <div class="religion-container collapsible collapsed">
                    <h3 class="header">
                        Religion
                    </h3>
                </div>
                <div class="residence-container collapsible collapsed">
                    <h3 class="header">
                        Wohnraum
                    </h3>
                </div>                
                <div class="road-of-life-container collapsible collapsed">
                    <h3 class="header">
                        Lebensweg
                    </h3>
                </div>                
                <div class="status-container collapsible collapsed">
                    <h3 class="header">
                        Status
                    </h3>
                </div>        
                <div class="works-container collapsible collapsed">
                    <h3 class="header">
                        Werke
                    </h3>
                </div>
                <div class="source-container collapsible collapsed">
                    <h3 class="header">
                        Quellen
                    </h3>
                </div>
        </div>
        <div class="large-2 columns" id="new">
            <p>Normalisierter Datensatz</p>
                <div class="base-person-container collapsible">
                    <h3 class="header">
                        Personendaten
                    </h3>
                </div>
                <div class="birth-container collapsible collapsed">
                    <h3 class="header">
                        Geburtsdaten
                    </h3>
                </div>
                <div class="baptism-container collapsible collapsed">
                    <h3 class="header">
                        Taufdaten
                    </h3>
                </div>
                <div class="death-container collapsible collapsed">
                    <h3 class="header">
                        Todesdaten
                    </h3>
                </div>
                <div class="educations-container collapsible collapsed">
                    <h3 class="header">
                        Ausbildungsdaten
                    </h3>
                </div>
                <div class="honours-container collapsible collapsed">
                    <h3 class="header">
                        Ehren
                    </h3>
                </div>
                <div class="property-container collapsible collapsed">
                    <h3 class="header">
                        Besitz
                    </h3>
                </div>
                <div class="rank-container collapsible collapsed">
                    <h3 class="header">
                        Rang
                    </h3>
                </div>
                <div class="religion-container collapsible collapsed">
                    <h3 class="header">
                        Religion
                    </h3>
                </div>
                <div class="residence-container collapsible collapsed">
                    <h3 class="header">
                        Wohnraum
                    </h3>
                </div>                
                <div class="road-of-life-container collapsible collapsed">
                    <h3 class="header">
                        Lebensweg
                    </h3>
                </div>                
                <div class="status-container collapsible collapsed">
                    <h3 class="header">
                        Status
                    </h3>
                </div>        
                <div class="works-container collapsible collapsed">
                    <h3 class="header">
                        Werke
                    </h3>
                </div>
                <div class="source-container collapsible collapsed">
                    <h3 class="header">
                        Quellen
                    </h3>
                </div>
        </div>
        <div class="large-2 columns" id="final">
            <p>Neuer Datenbank-Eintrag</p>
                <div class="base-person-container collapsible">
                    <h3 class="header">
                        Personendaten
                    </h3>
                </div>
                <div class="birth-container collapsible collapsed">
                    <h3 class="header">
                        Geburtsdaten
                    </h3>
                </div>
                <div class="baptism-container collapsible collapsed">
                    <h3 class="header">
                        Taufdaten
                    </h3>
                </div>
                <div class="death-container collapsible collapsed">
                    <h3 class="header">
                        Todesdaten
                    </h3>
                </div>
                <div class="educations-container collapsible collapsed">
                    <h3 class="header">
                        Ausbildungsdaten
                    </h3>
                </div>
                <div class="honours-container collapsible collapsed">
                    <h3 class="header">
                        Ehren
                    </h3>
                </div>
                <div class="property-container collapsible collapsed">
                    <h3 class="header">
                        Besitz
                    </h3>
                </div>
                <div class="rank-container collapsible collapsed">
                    <h3 class="header">
                        Rang
                    </h3>
                </div>
                <div class="religion-container collapsible collapsed">
                    <h3 class="header">
                        Religion
                    </h3>
                </div>
                <div class="residence-container collapsible collapsed">
                    <h3 class="header">
                        Wohnraum
                    </h3>
                </div>                
                <div class="road-of-life-container collapsible collapsed">
                    <h3 class="header">
                        Lebensweg
                    </h3>
                </div>                
                <div class="status-container collapsible collapsed">
                    <h3 class="header">
                        Status
                    </h3>
                </div>        
                <div class="works-container collapsible collapsed">
                    <h3 class="header">
                        Werke
                    </h3>
                </div>
                <div class="source-container collapsible collapsed">
                    <h3 class="header">
                        Quellen
                    </h3>
                </div>
        </div>
      </div>
    
    <div class="row">
        <button id="save-button" class="round button" type="submit">Speichern und weiter</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Start #}
    <script src="{{asset('bundles/amburger/js/src/datacorrection/person/PersonCorrection.js')}}"></script>

    {# Models #}

     {# Views #}
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/BasePersonViewGenerator.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/PersonCorrectionView.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/FinalPersonView.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/NewPersonView.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/OldPersonView.js') }}"></script>
     
     


     {# Manager #}


     {# Controllers #}
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/AjaxLoader.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/person/PersonCorrectionController.js') }}"></script>



     {# As last init the Start #}
     <script>
        $(document).ready(function(){
          PersonCorrection.init();
        });
     </script>

{% endblock %}


{% block templates %}
    <script type="text/template" id="basePerson">
        <div class="row">
                <input type="hidden" name="id"> 
                <label>OID<input type="text" name="oid" value="<%=oid %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Vorname<input type="text" name="firstName" value="<%= typeof(first_name) !== 'undefined' ?  first_name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Vatersname<input type="text" name="patronym" value="<%= typeof(patronym) !== 'undefined' ?  patronym : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Nachname<input type="text" name="lastName" value="<%= typeof(last_name) !== 'undefined' ?  last_name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Rufname<input type="text" name="foreName"  value="<%= typeof(fore_name) !== 'undefined' ?  fore_name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Geburtsname<input type="text" name="birthName" value="<%= typeof(birth_name) !== 'undefined' ?  birth_name : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Geschlecht
                    <select name="gender" size="3" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>>
                        <option>Unbekannt</option>
                        <option>Männlich</option> 
                        <option>Weiblich</option>
                    </select>
                    <input type="text" name="genderComment" value="<%= typeof(gender_comment) !== 'undefined' ?  gender_comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/>
                </label>
                <label>ehelig<input type="text" name="bornInMarriage" value="<%= typeof(born_in_marriage) !== 'undefined' ?  born_in_marriage : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <!-- //@TODO: Complex objects for job, jobclass, nation, territory, location, country? -->
                <label>Job<input type="text" name="job" value="<%= typeof(job) !== 'undefined' ?  job['label'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Jobkommentar<input type="text" name="jobComment" value="<%= typeof(job) !== 'undefined' ?  job['comment'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Jobklasse<input type="text" name="jobClass" value="<%= typeof(job_class) !== 'undefined' ?  job_class['label'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Jobklasse Kommentar<input type="text" name="jobClassComment" value="<%= typeof(job_class) !== 'undefined' ?  job_class['comment'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Nation<input type="text" name="nation" value="<%= typeof(nation) !== 'undefined' ?  nation['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Nationkommentar<input type="text" name="nationComment" value="<%= typeof(nation) !== 'undefined' ?  nation['comment'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Kommentar<input type="text" name="comment" value="<%= typeof(comment) !== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>

        </div>

    </script>
    
    <script type="text/template" id="baptism">
        <div class="row">
               <input type="hidden" name="id"> 
                <label>Taufort<input type="text" name="baptismLocation" value="<%= typeof(baptism_location) !== 'undefined' ?  baptism_location['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>Taufdatum<input type="text" name="baptismDate"  <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="birth">
        <div class="row">
               <input type="hidden" name="id"> 
                <label>Herkunftsland<input type="text" name="originCountry" value="<%= typeof(origin_country) !== 'undefined' ?  origin_country['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Herkunftsterritorium<input type="text" name="originTerritory" value="<%= typeof(origin_territory) !== 'undefined' ?  origin_territory['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Herkunftsort<input type="text" name="originLocation" value="<%= typeof(origin_location) !== 'undefined' ?  origin_location['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        
                <label>Geburtsland<input type="text" name="birthCountry" value="<%= typeof(birth_country) !== 'undefined' ?  birth_country['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Geburtsterritorium<input type="text" name="birthTerritory" value="<%= typeof(birth_territory) !== 'undefined' ?  birth_territory['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Geburtsort<input type="text" name="birthLocation" value="<%= typeof(birth_location) !== 'undefined' ?  birth_location['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>Geburtsdatum<input type="text" name="birthDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>

                <label>Kommentar<input type="text" name="comment" value="<%= typeof(comment) !== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        </div>
    </script>
    

    
    <script type="text/template" id="death">
        <div class="row">
                <input type="hidden" name="id"> 
                <label>Todesland<input type="text" name="deathCountry" value="<%= typeof(death_country) !== 'undefined' ?  death_country['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Todesterritorium<input type="text" name="territoryOfDeath" value="<%= typeof(death_territory) !== 'undefined' ?  death_territory['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Todesort<input type="text" name="deathLocation" value="<%= typeof(death_location) !== 'undefined' ?  death_location['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        
                <label>Todesgrund<input type="text" name="causeOfDeath" value="<%= typeof(cause_of_death) !== 'undefined' ?  cause_of_death : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Todesdatum<input type="text" name="deathDate"  <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        
                <label>Friedhof<input type="text" name="graveyard" value="<%= typeof(graveyard) !== 'undefined' ?  graveyard : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Begräbnisort<input type="text" name="funeralLocation" value="<%= typeof(funeral_location) !== 'undefined' ?  funeral_location['name'] : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Begräbnisdatum<input type="text" name="funeralDate"  <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        
                <label>Kommentar<input type="text" name="comment" value="<%= typeof(comment) !== 'undefined' ?  comment : '' %>" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        </div>
    </script>

    
     <script type="text/template" id="education">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="educationOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Abschluss<input type="text" name="graduationLabel" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Abschlussdatum<input type="text" name="graduationDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Abschlussort<input type="text" name="graduationLocation" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        </div>
    </script>
    
    <script type="text/template" id="honour">
        <div class="row">
               <input type="hidden" name="id"> 
                <input type="hidden" name="honourOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %>/></label>
        </div>
    </script>
    
    <script type="text/template" id="property">
        <div class="row">
               <input type="hidden" name="id"> 
                <input type="hidden" name="propertyOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="rank">
        <div class="row">
               <input type="hidden" name="id"> 
                <input type="hidden" name="rankOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Klasse<input type="text" name="class" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="religion">
        <div class="row">
               <input type="hidden" name="id"> 
                <input type="hidden" name="religionOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Religionswechsel<input type="text" name="changeOfReligion" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="residence">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="residenceOrder">
                <label>Wohnland<input type="text" name="residenceCountry" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Wohnterritorium<input type="text" name="residenceTerritory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Wohnort<input type="text" name="residenceLocation" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="roadOfLife">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="roadOfLifeOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Herkunftsland<input type="text" name="originCountry" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Herkunftsterritorium<input type="text" name="originTerritory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Job<input type="text" name="job" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
    <script type="text/template" id="source">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="sourceOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Fundort<input type="text" name="placeOfDiscovery" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Bemerkung<input type="text" name="remark" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>    
        
    <script type="text/template" id="status">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="statusOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>p
        </div>
    </script>
    
        
    <script type="text/template" id="works">
        <div class="row">
                <input type="hidden" name="id"> 
                <input type="hidden" name="worksOrder">
                <label>Name<input type="text" name="label" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Land<input type="text" name="country" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Territorium<input type="text" name="territory" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Ort<input type="text" name="location" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <!--//@TODO: Timestamp own formatting? --!>
                <label>von<input type="text" name="fromDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>bis<input type="text" name="toDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>belegt<input type="text" name="provenDate" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
                <label>Kommentar<input type="text" name="comment" <%= typeof(enabled)!== 'undefined' ?  '' : 'disabled' %> /></label>
        </div>
    </script>
    
{% endblock %}