{% extends "AmburgerBundle:DataCorrection:base.html.twig" %}
{% block body %}
    
    <div id="possible-relations" class="collapsible">
        <h2 class="center">Mögliche Verwandtschaftsbeziehungen</h2>
        <div class="possible-relations-container container">
            
        </div>
    </div>
    
    <div id="existing-relations" class="collapsible">
        <h2 class="center">Übernommene Verwandtschaftsbeziehungen</h2>
        <div class="existing-relations-container container">
            
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Start #}
    <script src="{{asset('bundles/amburger/js/src/datacorrection/relatives/RelativesCorrection.js')}}"></script>

    {# Models #}

    {# Views #}
    <script src="{{ asset('bundles/amburger/js/src/datacorrection/relatives/RelativesView.js') }}"></script>

    {# Manager #}

     {# Controllers #}
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/relatives/AjaxLoader.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/relatives/RelativesCorrectionController.js') }}"></script>



     {# As last init the Start #}
     <script>
        $(document).ready(function(){
          RelativesCorrection.init();
        });
     </script>

{% endblock %}

{% block templates %}
    {% verbatim %}

    <script type="text/template" id="directRelationTemplate">
        <div class="row">
            <div class="large-4 columns">
                Vorname: <span><%= person_first_name %></span></br>
                Nachname: <span><%= person_last_name %></span></br>
                Vatersname: <span><%= person_patronym %></span></br>
            </div>
            <div class="large-4 columns">
                
            </div>
            <div class="large-4 columns">
                Vorname: <span><%= relative_first_name %></span></br>
                Nachname: <span><%= relative_last_name %></span></br>
                Vatersname: <span><%= relative_patronym %></span></br>
            </div>
        </div>
    </script>
    {% endverbatim %}
{% endblock %}