{% extends "AmburgerBundle:DataCorrection:base.html.twig" %}
{% block body %}
    
    <div id="possible-relations" class="collapsible">
        <h2 class="center">Mögliche Verwandtschaftsbeziehungen</h2>
        <div class="possible-relations-container container">
            
        </div>
    </div>
    
    <div id="existing-relations" class="collapsible">
        <h2 class="center">Übernommene Verwandtschaftsbeziehungen</h2>
        <div class="existing-relations-container container">
            
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Start #}
    <script src="{{asset('bundles/amburger/js/src/datacorrection/relatives/RelativesCorrection.js')}}"></script>

    {# Models #}

    {# Views #}
    <script src="{{ asset('bundles/amburger/js/src/datacorrection/relatives/RelativesView.js') }}"></script>

    {# Manager #}

     {# Controllers #}
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/relatives/AjaxLoader.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/relatives/RelativesCorrectionController.js') }}"></script>



     {# As last init the Start #}
     <script>
        $(document).ready(function(){
          RelativesCorrection.init();
        });
     </script>

{% endblock %}

{% block templates %}
    {% verbatim %}

    <script type="text/template" id="directRelationTemplate">
        <div class="row">
            <div class="large-4 columns box">
                <% if(person_first_name) { %>Vorname: <span><%= person_first_name %></span></br> <% } %>
                <% if(person_last_name) { %>Nachname: <span><%= person_last_name %></span></br><% } %>
                <% if(person_patronym) { %>Vatersname: <span><%= person_patronym %></span></br><% } %>
                <% if(person_birth_date) { %>Geboren: <span><%= person_birth_date %></span></br><% } %>
                <% if(person_baptism_date) { %>Getauft: <span><%= person_baptism_date %></span></br><% } %>
                <% if(person_death_date) { %>Gestorben: <span><%= person_death_date %></span></br><% } %>
                <% if(person_funeral_date) { %>Beerdigt: <span><%= person_funeral_date %></span></br><% } %>
                <% if(person_job) { %>Job: <span><%= person_job %></span></br><% } %>
                <% if(person_job_class) { %>Jobklasse: <span><%= person_job_class %></span></br><% } %>
                <% if(person_nation) { %>Nation: <span><%= person_nation %></span></br><% } %>
                <% if(person_educations) { %>Ausbildung(en): <span><%= person_educations %></span></br><% } %>
            </div>
            <div class="large-1 columns">
            </div>
            <div class="large-2 columns box center">
                <%= relationship %>
            </div>
            <div class="large-1 columns">
            </div>
            <div class="large-4 columns box">
                <% if(relative_first_name) { %>Vorname: <span><%= relative_first_name %></span></br><% } %>
                <% if(relative_last_name) { %>Nachname: <span><%= relative_last_name %></span></br><% } %>
                <% if(relative_patronym) { %>Vatersname: <span><%= relative_patronym %></span></br><% } %>
                <% if(relative_birth_date) { %>Geboren: <span><%= relative_birth_date %></span></br><% } %>
                <% if(relative_baptism_date) { %>Getauft: <span><%= relative_baptism_date %></span></br><% } %>
                <% if(relative_death_date) { %>Gestorben: <span><%= relative_death_date %></span></br><% } %>
                <% if(relative_funeral_date) { %>Beerdigt: <span><%= relative_funeral_date %></span></br><% } %>
                <% if(relative_job) { %>Job: <span><%= relative_job %></span></br><% } %>
                <% if(relative_job_class) { %>Jobklasse: <span><%= relative_job_class %></span></br><% } %>
                <% if(relative_nation) { %>Nation: <span><%= relative_nation %></span></br><% } %>
                <% if(relative_educations) { %>Ausbildung(en): <span><%= relative_educations %></span></br><% } %>
            </div>
        </div>
    </script>
    {% endverbatim %}
{% endblock %}