{% extends "AmburgerBundle:DataCorrection:base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="large-6 columns large-centered center">
            <p>Kurze Erklärung wofür das Tool gut ist. (Für Nicht-ITler)</p>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns large-centered center">
            <button id="next-person-button" class="round button">Neuen Datensatz bearbeiten</button>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns large-centered center">
            <p>Bestimmten Datensatz bearbeiten</p>
            Bitte geben Sie die ID des gewünschten Datensatzes ein.
            
            <input name="selected-id" type="text" id="selected-id" class="form-contro" placeholder="z.B. 1234">
            <button id="selected-person-button" class="round button">Pfeil...</button>
        </div>
    </div>
     <div class="row">
        <div class="large-6 columns large-centered center">
            Bereits bearbeitete Datensätze
            <p>Prozentuale Anzeige </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Start #}
    <script src="{{asset('bundles/amburger/js/src/datacorrection/start/Start.js')}}"></script>

    {# Models #}


     {# Views #}
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/start/StartView.js') }}"></script>


     {# Manager #}


     {# Controllers #}
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/start/AjaxLoader.js') }}"></script>
     <script src="{{ asset('bundles/amburger/js/src/datacorrection/start/StartController.js') }}"></script>



     {# As last init the Start #}
     <script>
        $(document).ready(function(){
          Start.init();
        });
     </script>

{% endblock %}